body {
  background-color: #66284a;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template: 50px 70px 50px / 120px 120px;
  margin-top: 5rem;
}

div {
  width: 60px;
  height: 60px;
  border: 20px solid #f0cd4b; 
  border-radius: 50%;
  border-left-color: transparent !important;
  rotate: -45deg;
}

#yellow,
#white {
  grid-column: span 2;
}

#orange {
  rotate: -135deg;
  border-color: #db6f45;
}
#white {
  rotate: 135deg;
  border-color: #fdfbfb;
}
#purple {
  rotate: 45deg;
  border-color: #800080;
}
